# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
.venv/
venv/

# Environment
.env

# Test / lint caches
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

# Data artifacts
data/raw/*
data/processed/*
data/faiss/*

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/faiss/.gitkeep

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log